
@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Control de Usuarios</h2>
@{
    ViewBag.Title = "Gestion de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  

<div id="divUserListContainer">
    @Html.Action("ManageUserPartial", "Home");
</div> 
