@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>  
<br />

<h2>Hi <b>@Context.User.Identity.Name</b>Welcome to Sirela!</h2>  
<br />
@Html.ActionLink("Signout", "SignOut", "Account") 

<br />

@Html.ActionLink("Solo Acceso Administrator", "AdminOnly", "Home")




